<a href="https://colab.research.google.com/github/Akshay0796/Assignments/blob/main/Assignment_Random_Forest_fraud_check_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use Random Forest to prepare a model on fraud data 
treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
fraud=pd.read_csv('/content/Fraud_check.csv')

In [3]:
fraud.head()

  Undergrad Marital.Status  ...  Work.Experience  Urban
0        NO         Single  ...               10    YES
1       YES       Divorced  ...               18    YES
2        NO        Married  ...               30    YES
3       YES         Single  ...               15    YES
4        NO        Married  ...               28     NO

[5 rows x 6 columns]

In [4]:
#Creating dummy vairables for ['Undergrad','Marital.Status','Urban'] dropping first dummy variable
fraud=pd.get_dummies(fraud,columns=['Undergrad','Marital.Status','Urban'], drop_first=True)

In [5]:
#Creating new cols TaxInc and dividing 'Taxable.Income' cols on the basis of [0,30000,99620] for Risky and Good
fraud["TaxInc"] = pd.cut(fraud["Taxable.Income"], bins = [0,30000,99620], labels = ["Risky", "Good"])

In [6]:
#After creation of new col. TaxInc also made its dummies var concating right side of fraud
fraud = pd.get_dummies(fraud,columns = ["TaxInc"],drop_first=True)

In [7]:
fraud.tail()

     Taxable.Income  City.Population  ...  Urban_YES  TaxInc_Good
595           76340            39492  ...          1            1
596           69967            55369  ...          1            1
597           47334           154058  ...          1            1
598           98592           180083  ...          0            1
599           96519           158137  ...          0            1

[5 rows x 8 columns]

In [8]:
X = fraud.iloc[:,1:7]
Y = fraud.iloc[:,-1]

In [9]:
# Splitting data into train & test
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.3, random_state=0)

In [10]:
model= RandomForestClassifier(n_estimators=100,max_depth=10,min_samples_split=20,criterion='gini')

In [11]:
model.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
print('Train accuracy: {}'.format(model.score(Xtrain, Ytrain)))

Train accuracy: 0.8095238095238095

In [14]:
print('Test accuracy: {}'.format(model.score(Xtest, Ytest)))

Test accuracy: 0.7611111111111111